*.bin
*.pt
*.pth
*.ckpt
*.pyc
*.safetensor

**/__pycache__/


project/further_pre_training/models/
project/further_pre_training/models/*

project/further_pre_training/data/ichilov/
project/further_pre_training/data/ichilov/*


project/further_pre_training/data/clean_ichilov/
project/further_pre_training/data/clean_ichilov/*

project/further_pre_training/data/cut_ichilov/
project/further_pre_training/data/cuts_ichilov/*

project/domain_adaptation/tokenizers/
project/domain_adaptation/tokenizers/*

project/evaluation/trc/models/
project/evaluation/trc/models/*
project/evaluation/trc/data/med_trc/
project/evaluation/trc/data/med_trc/*
project/evaluation/trc/data/oncology/
project/evaluation/trc/data/oncology/*

project/evaluation/trc/data/oncology_balanced/
project/evaluation/trc/data/oncology_balanced/*

project/evaluation/trc/data/med_balanced/
project/evaluation/trc/data/med_balanced/*


project/evaluation/he_bioasq/models/
project/evaluation/he_bioasq/models/*

project/evaluation/he_medqa/models/
project/evaluation/he_medqa/models/*

project/evaluation/ner/models/
project/evaluation/ner/models/*

src/
src/*


**cache**